{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Software engineering history</h1>
    <p class="lead">"The application of a systematic, disciplined, quantifiable approach to the development, operation, and maintenance of software" - IEEE Standard Glossary of Software Engineering Terminology</p>    
</div>

<div align="center" class="col-md-10">
    <h2>Timeline</h2>
    <p>Looking for the timeline of software engineering? Click below !</p>
    <p><a class="btn btn-default" href="timeline/">Go! &raquo;</a></p>
</div>

<br />

<div class="row">
    <div class="col-md-6">
        <h2>La Salle University</h2>
        <p>
            University located in Arequipa, Peru which the creators of this page are part of on the area of Software Engineering
        </p>
        <p><a class="btn btn-default" href="http://www.ulasalle.edu.pe/index.php">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">        
        <h2>IEEE</h2>
        <p>Wanna know more? The world's largest technical professional organization for the advancement of technology page is right here.</p>
        <p><a class="btn btn-default" href="https://www.ieee.org/index.html">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
